* {
  margin: 0px;
  padding: 0px;
}
/* styles for the elements of top banner section */

.top-banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  width: 1920px;
  height: 850px;
}

.top-banner-heading {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
}

.top-banner-description {
  margin-top: 20px;
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.btn {
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: #fff;
  font-family: Lato;
  font-size: 25px;
}

.top-banner-image-div {
  height: 750px;
}

/* styles for the elements of "featured flower" section */

.featured-flower-content {
  text-align: center;
  margin-top: 120px;
}

.featured-flower-heading {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.featured-flower-description {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.featured-flower-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.featured-flower-image1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.featured-flower-image2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.featured-flower-image3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.featured-image1 {
  width: 310px;
  height: 428px;
  margin-top: 58px;
  padding: 50px 20px 0px 65px;
}

.featured-image2 {
  width: 370px;
  height: 370px;
  margin-top: 25px;
  padding: 110px 27px 30px 65px;
}

.featured-image3 {
  width: 314px;
  height: 471px;
  margin-top: 65px;

  padding-left: 65px;
}

.featured-flower-image-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 370px;
}

/* styles for the element of speciality section */

.speciality {
  display: flex;
  margin: 100px 180px;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  height: 320px;
}

/* styles for the element of "Hot Deal section" section */

.hot-deal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  background: rgba(229, 84, 115, 0.05);
  width: 1922px;
  height: 620px;
}

.details-about-hot-deal {
  text-align: center;
  padding-left: 0px;
}

.hot-deal-heading {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.hot-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.discount-offer {
  color: #e55473;
}
.hot-deal-btn {
  padding-left: 400px;
}

.hot-deal-image {
  width: 318px;
  height: 420px;
}

/* styles for "Instagram Section" */
.instagram-content {
  text-align: center;
  padding: 100px 100px 40px 100px;
}

.insta-heading {
  color: #272727;

  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.insta-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.intagram-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 20px 20px;
}

.insta-gallery-image {
  width: 342px;
  height: 396px;
}

/* styles for "latest deal Section" */
.latest-deal {
  background: url(./latest-deal-background/Rectangle\ 9.png);
  width: 1420px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 185px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.about-latest-deal {
  text-align: center;
  padding-top: 50px;
}

.latest-deal-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.latest-deal-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.suscription-of-latest-deal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.email-input-field {
  border-style: none;
  border-radius: 8px;
  background: #fff;
  width: 700px;
  height: 64px;
}

::placeholder {
  color: rgba(39, 39, 39, 0.6);
  text-align: left;
  padding-left: 30px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
}

.subscription-btn {
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 17px 43px;
  color: #fff;
  font-family: Lato;
  font-size: 25px;
}

/* style for follow us on section */

.tile-for-social-media {
  text-align: center;
  color: #0f0c0d;
  font-size: 30px;
}
.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 80px;
}

/* footer styles */

.footer-content {
  background: #111010;
  width: 1922px;
  height: 449px;
  color: white;
  text-align: center;
  padding-top: 150px;
}

.footer-title {
  color: #ffffff;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
}

.title-style {
  color: #e55473;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.copy-right-text {
  color: rgba(255, 255, 255, 0.4);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
